// Override default variables before the import

$primary: #6391d5;
$secondary : #3a3e59;


// Custome classes here
.hero-image-negative-margin {
	margin-bottom: -1rem;
}

.container-services-shadow {
	box-shadow: 0.5rem -0.5rem #3b68aa;
}


i.bi {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  margin: 0.5em;
}




// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// responsive font sizes
html {
    font-size: 1.0rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.0rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.2rem;
    }

    @include media-breakpoint-up(xl) {
        html {
            font-size: 1.2rem;
        }
    }
}