// Override default variables before the import

$primary: #6391d5;
$secondary : #3a3e59;


// Custome classes here
.hero-image-negative-margin {
	margin-bottom: -1rem;
}

.container-services-shadow {
	box-shadow: 0.5rem -0.5rem #3b68aa;
}

.examples-bg {
	background-color: #aecefc;
}

.bg-blue {
	background-color: blue;
}
.bg-red {
	background-color: red;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
